.cart-dropdown-container {
  position: absolute;
  width: 34rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  background-color: white;
  top: 16rem;
  right: 7rem;
  z-index: 5;
}
.empty-message {
  font-size: 1.8rem;
  margin: 18rem auto;
}

.cart-items {
  height: 28rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cart-item-img {
  width: 8rem;
  height: 10rem;
}
