.payment-form--container {
  width: 100%;
  // margin: 0 auto;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.form-container {
  height: 40rem;
  min-width: 50rem;
  // margin-top: 2rem;
}

.payment-btn {
  margin-left: auto;
  margin-top: 2rem;
  font-size: 1.8rem;
  background-color: #fff;
  border: none;
  padding: 1.5rem 4rem;
  cursor: pointer;
  &:hover {
    background-color: #55c57a;
    font-size: 1.8rem;
  }
}

.payment-form {
  margin-top: 5rem;
  font-size: 1.8rem;
}
