.button-shop {
  //   position: absolute;
  color: #fff;
  padding: 1rem 6rem;
  border: none;
  background-color: #55c57a;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.button-shop:active {
  transform: translateY(2px);
}
